/* Définition des polices personnalisées */

@font-face
{
    font-family: 'Raleway';
    src: url('Polices/Raleway-Regular.ttf') format('truetype'),
         url('Polices/Raleway-Bold.ttf') format('truetype'),
         url('Polices/Raleway-ExtraBold.ttf') format('truetype'),
         url('Polices/Raleway-Light.ttf') format('truetype'),
         url('Polices/Raleway-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body
{
    font-family: 'Raleway', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

/* Header */

#logo_navigation

{
    display: flex;
    justify-content: space-between;
}

#logo_reservia_header

{
    width: 10%;
    height: 10%;
    margin-top: 15px;
}

header h1

{
    font-size: 0.8em;
    font-weight: bolder;
}

header h2

{
    font-size: 0.6em;
    font-weight: lighter;
    margin-bottom: 20px;
}

/* Navigation Header */

header nav ul

{
    list-style-type: none;
    display: flex;
    margin-top: 0px;
}

header nav li

{
    margin: 20px;
}

header nav a

{
    font-size: 0.8em;
    color: #BABABA;
    text-decoration: none;
    padding-top: 20px;
}

header nav a:hover

{
    color: #0065FC;
    border-top: 1px solid #0065FC;
}

#bouton_inscription

{
    color: #0065FC;
    font-weight: bold;
    border-top: none;
}

/* Bouton Rechercher */

/* Filtres */

#Filtres

{
    display: flex;
}

#Filtres i

{
    color: #0165FC;
    padding: 7px;
    border-radius: 20px;
    background: #DEECFF;
    margin-right: 5px;
}

.fa-money-bill-wave

{
    width: 20px;
}

#Filtres a

{
    padding-right: 10px;
}

.bouton_filtre

{
    margin: 10px;
    border: #dddfdf solid 2px ;
    border-radius: 30px;
    text-decoration: none;
    color: #1f1f1f;
    font-weight: bold;
    font-size: 00.9em;
    vertical-align: middle;
}

header h1

{
    margin-right: 10px;
    font-weight: bold;
    font-size: 0.9em;
    padding-top: 7px;
}

