/* Définition des polices personnalisées */

@font-face
{
    font-family: 'Raleway';
    src: url('Polices/Raleway-Regular.ttf') format('truetype'),
         url('Polices/Raleway-Bold.ttf') format('truetype'),
         url('Polices/Raleway-ExtraBold.ttf') format('truetype'),
         url('Polices/Raleway-Light.ttf') format('truetype'),
         url('Polices/Raleway-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Raleway', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    margin-left: 50px;
    margin-right: 50px;
}

/* Header */

#logo_navigation

{
    display: flex;
    justify-content: space-between;
}

#logo_reservia_header

{
    width: 6%;
    height: 6%;
    margin-top: 15px;
}

header h1

{
    font-size: 0.8em;
    font-weight: extra-bold ;
    margin-bottom: 5px;
}

header h2

{
    font-size: 0.7em;
    font-weight: lighter;
    margin-bottom: 20px;
    margin-left: 2px;
}

/* Navigation Header */

header nav ul

{
    list-style-type: none;
    display: flex;
    margin-top: 0px;
}

header nav li

{
    margin: 20px;
}

header nav a

{
    font-size: 0.8em;
    color: #BABABA;
    text-decoration: none;
    padding-top: 20px;
}

header nav a:hover

{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

#bouton_inscription

{
    color: #0065FC;
    font-weight: bold;
    border-top: none;
}

/* Bouton Rechercher */

.fa-map-marker-alt

{
    background-color: #d8d7d7;
    padding: 12px;
    border-radius: 10px 0 0 10px;
    margin-top: 3px;
}

#Rechercher

{
    border: solid #d8d7d7 1px;
    border-right: none;
    padding-top: 12.4px;
    padding-bottom: 9.5px;
    padding-left: 10px;
    margin-left: -4px;
    font-weight: bold;
}

#submit

{
    background-color: #0065FC;
    border: #0065FC solid 1px;
    border-radius: 0px 10px 10px 0px;
    color: white;
    padding: 12.4px 12px 9.5px 12px;
    margin-left: -3.5px;
    font-weight: bold;
}


/* Filtres */

#Filtres

{
    display: flex;
    margin-bottom: 10px;
}

#Filtres i

{
    color: #0165FC;
    padding: 13px;
    border-radius: 20px;
    background: #DEECFF;
    margin-right: 5px;
}

.fa-money-bill-wave

{
    width: 45px;
}

#Filtres a

{
    padding-right: 10px;
}

.bouton_filtre

{
    margin: 15px;
    border: #dddfdf solid 2px ;
    border-left: none;
    border-radius: 30px;
    text-decoration: none;
    color: #1f1f1f;
    font-weight: bold;
    font-size: 00.9em;
    vertical-align: middle;
}

header h1

{
    margin-right: 10px;
    font-weight: bold;
    font-size: 0.9em;
    padding-top: 28px;
}

/* Section Hébergement */

#hebergements

{
    display: flex;
}

/* Hébergement à Marseille */

.fa-info-circle

{
    color: white;
    background: #0065FC;
    border: rgb(131, 130, 130) 1px solid ;
    border-radius: 12px;
    margin-right: 10px;
}

header p

{
    font-size: 0.8em;
    margin-bottom: 30px;
}

article

{
    background-color: #ebe9e9;
    padding: 30px 20px;
    border-radius: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    flex: 60%;
}

#Hebergement_à_Marseille h1

{
    padding-left: 18px;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
}

#Hebergement_à_Marseille h2

{
    padding-left: 8px;
    font-weight: bold;
    font-size: 13px;
    margin-top: 6px;
    margin-bottom: 3px;
}

#Hebergement_à_Marseille h3

{
    padding-left: 8px;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 6px;
}

#hebergements_Marseille

{
    display: flex;
    flex-wrap: wrap;
}

#hebergements_Marseille p

{
    padding: 3px 0px 6px 7px ;
    font-size: 12px;
}


.carte_hebergement

{
    background:white;
    border: white 4px solid;
    border-radius: 20px;
    margin: 10px;
    overflow: hidden;
    flex: 30%;
}

.carte_hebergement img

{
    width: 100%;
    height: 130px;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}

.carte_hebergement h1

{
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 6px;
}

.carte_hebergement h2

{
    font-size: 0.7em;
    font-weight: bold;
    padding-left: 5px;
}

.fa-star

{
    color: #0165FC;
}

#grey

{
    color: #d9d9d9;
}

.afficher_plus

{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
    margin-left: 18px;
    padding-top: 14px;
}

/* Les plus populaires */

aside

{
    background-color: #ebe9e9;
    padding: 30px 20px;
    border-radius: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    flex: 30%;
}

.carte_hebergement_populaire

{
    background:white;
    border: white 4px solid;
    border-radius: 20px;
    margin: 0px 10px 25px 10px;
    overflow: hidden;
    display: flex;
}

.carte_hebergement_populaire img

{
    width: 140px;
    height: 140px;
}

aside h1

{
    padding-left: 18px;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 3px;
}

aside h2

{
    font-size: 16px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 15px;
}

aside h3

{
    padding-left: 15px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 45px;
    margin-top: 8px;
}

#descriptif_plus_populaire p

{
    padding-left: 15px;
    font-size: 12px;
}

.fa-chart-line

{
    padding-left: 220px;
}

/* Activités à Marseille */

#activite_simple

{
    margin-top: 20px;
    margin-bottom: 20px;
}

#activite_simple img

{
    width: 250px;
    height: 400px;
    border-radius: 16px 16px 0px 0px;
    overflow: hidden;
    object-fit: cover;
}

#activite_simple h1

{
    width: 250px;
    margin-top: -6px;
    padding: 12px;
    border: rgb(221, 221, 221) 2px solid;
    border-radius: 0px 0px 16px 16px;
    font-size: 0.8em;
    font-weight: bold;
    box-shadow: 0px 2px 10px rgb(211, 211, 211);
}

#carte_activite_double

{
    margin-top: 20px;
    margin-bottom: 40px;
}

#carte_activite_double img

{
    width: 250px;
    height: 100px;
    border-radius: 16px 16px 0px 0px;
    overflow: hidden;
    object-fit: cover;
}

#carte_activite_double h1

{
    width: 250px;
    margin-top: -6px;
    padding: 12px;
    border: rgb(221, 221, 221) 2px solid;
    border-radius: 0px 0px 16px 16px;
    font-size: 0.8em;
    font-weight: bold;
    box-shadow: 0px 2px 10px rgb(211, 211, 211);
}