/* Définition des polices personnalisées */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800&display=swap');

/* Eléments principaux de la page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", Arial, sans-serif;
  color: #181818;
}

#bloc_page {
  margin-left: 60px;
  margin-right: 50px;
}

/* Header Navigation */

#header_nav {
  display: flex;
  justify-content: space-between;
}

#header_nav img {
  width: 5%;
  height: 5%;
  margin-top: 20px;
}

header h1 {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
  padding-top: 28px;
}

header h2 {
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-left: 2px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  margin-top: 0px;
}

header nav li {
  margin-top: 35px;
}

header nav a {
  font-size: 0.8em;
  color: black;
  font-weight: lighter;
  text-decoration: none;
  padding: 35px;
}

header nav a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

#inscription_button {
  color: #0065fc;
  font-weight: bold;
  border-top: none;
  padding-right: 15px;
}

/* Bouton Rechercher */

header form {
    margin-bottom: 15px;
}

.fa-map-marker-alt {
  background-color: #e9e8e8;
  padding: 12px;
  border-radius: 10px 0 0 10px;
  margin-top: 3px;
}

.fa-search {
  display: none;
}

#search_button {
  border: solid #e9e8e8 1px;
  border-right: none;
  padding-top: 12.4px;
  padding-bottom: 9.5px;
  padding-left: 10px;
  margin-left: -4px;
  font-weight: bold;
}

#submit_location {
  background-color: #0065fc;
  border: #0065fc solid 1px;
  border-radius: 0px 10px 10px 0px;
  color: white;
  padding: 12.4px 12px 9.5px 12px;
  margin-left: -3.5px;
  font-weight: bold;
}

/* Filtres */

.filters {
  display: flex;
  margin-bottom: 14px;
}

.filters i {
  color: #0065fc;
  padding: 13px;
  border-radius: 20px;
  background: #deecff;
  margin-right: 5px;
}

.fa-money-bill-wave {
  width: 45px;
}

.fa-child {
  width: 40px;
}

.filters a {
  padding-right: 15px;
  margin-right: 2px;
}

.filters a:hover {
  background-color: #deecff;
  color: #0065fc;
}

.filters_button {
  margin: 15px;
  border: #dddfdf solid 2px;
  border-left: none;
  border-radius: 30px;
  text-decoration: none;
  color: #1f1f1f;
  font-weight: bold;
  font-size: 0.9em;
  vertical-align: middle;
}

/* Section Hébergement */

.container_hebergements {
  display: flex;
}

/* Hébergement à Marseille */

.fa-info-circle {
  color: white;
  background: #0065fc;
  border: rgb(131, 130, 130) 0.3px solid;
  border-radius: 12px;
  margin-right: 10px;
}

header p {
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.sub_container_hebergements_Marseille {
  background-color: #ebe9e9;
  padding: 30px 20px;
  border-radius: 25px;
  margin-right: 25px;
  margin-bottom: 50px;
  flex: 60%;
}

.sub_container_hebergements_Marseille h1 {
  padding-left: 18px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.under_container_hebergements_Marseille {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.under_container_hebergements_Marseille p {
  padding: 3px 0px 6px 7px;
  font-size: 12px;
}

.card_hebergement {
  background: white;
  border: white 4px solid;
  border-radius: 20px;
  box-shadow: 0px 2px 10px rgb(211, 211, 211);
  margin: 10px;
  overflow: hidden;
  flex: 30%;
}

.card_hebergement img {
  width: 100%;
  height: 130px;
  border-radius: 16px 16px 0px 0px;
  object-fit: cover;
}

.card_hebergement h1 {
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 6px;
}

.card_hebergement h2 {
    padding-left: 8px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 3px;
}

.card_hebergement h3 {
    padding-left: 8px;
    font-weight: lighter;
    font-size: 12px;
    margin-bottom: 6px;
}

.card_hebergement em {
    font-weight: bold;
    font-style: normal;
}

.card_hebergement a {
    text-decoration: none;
    color: black;
}

.fa-star {
  color: #0165fc;
}

.button_afficher_plus {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin-left: 18px;
}

/* Les plus populaires */

.sub_container_populaires h1 {
    padding-left: 18px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 18px;
  }

.fa-chart-line {
    position: absolute;
    font-size: 20px;
    right: 40px;
  }

.sub_container_populaires {
  background-color: #ebe9e9;
  padding: 30px 20px;
  border-radius: 25px;
  margin-bottom: 50px;
  flex: 25%;
  position: relative;
}

.card_hebergement_populaire {
  background: white;
  border: white 4px solid;
  border-radius: 20px;
  margin: 0px 10px 25px 10px;
  box-shadow: 0px 2px 10px rgb(211, 211, 211);
  overflow: hidden;
  display: flex;
  height: 140px;
}

.card_hebergement_populaire img {
    width: 30%;
    height: 100%;
    object-fit: cover;
  }
  
.sub_container_populaires a {
    text-decoration: none;
    color: black;
  }

.descriptif_populaire {
    position: relative;
}

.descriptif_populaire h2 {
  font-size: 16px;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 10px;
}

.descriptif_populaire h3 {
  padding-left: 15px;
  font-weight: lighter;
  font-size: 13px;
  margin-top: 4px;
}

.descriptif_populaire em {
  font-weight: 600;
  font-style: normal;
}

.descriptif_populaire p {
  padding-left: 15px;
  font-size: 12px;
  position: absolute;
  bottom: 5px;
}

/* Activités à Marseille */

.activites_marseille h1 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 20px;
}

.container_activite {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 40px;
    grid-template-rows: 30px 10px 10px 10px 30px;
    row-gap: 100px;
    margin-bottom: 100px;
}

.container_activite img {
    width: 100%;
    height: 100%;
    border-radius: 16px 16px 0px 0px;
    overflow: hidden;
    object-fit: cover;
}

.container_activite h2 {
    margin-top: -6px;
    padding: 12px;
    border: rgb(221, 221, 221) 2px solid;
    border-radius: 0px 0px 16px 16px;
    font-size: 0.8em;
    font-weight: bold;
    box-shadow: 0px 2px 10px rgb(211, 211, 211);
}

.container_activite a {
    text-decoration: none;
    color: black;
}

.card_activite_one {
    grid-column: 1;
    grid-row: 1/6;
}

.card_activite_two {
    grid-column: 2;
    grid-row: 1/4;
}

.card_activite_three {
    grid-column: 2;
    grid-row: 4/6;
}

.card_activite_four {
    grid-column: 3;
    grid-row: 1/6;
}

.card_activite_five {
    grid-column: 4;
    grid-row: 1/3;
}

.card_activite_six {
    grid-column: 4;
    grid-row: 3/6;
}

.card_activite_one, .card_activite_two, .card_activite_three, .card_activite_four, .card_activite_five, .card_activite_six {
  box-shadow: 0px 0px 5px rgb(211, 211, 211);
    border-radius: 16px;
}

/* Footer */

footer {
  background-color: #ebe9e9;
  margin-left: -60px;
  margin-right: -50px;
}

.footer_menu {
  display: flex;
  width: 65%;
  justify-content: space-between;
  margin-left: 60px;
  padding-top: 32px;
  padding-bottom: 35px;
}

.footer_menu h1 {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.footer_menu ul {
  list-style-type: none;
  line-height: 1.5;
}

.footer_menu a {
  text-decoration: none;
  font-weight: lighter;
  color: black;
  font-size: 12px;
}

/* Réglages Responsive 1024px */

@media all and (max-width: 1024px) {
  
#bloc_page {
  width: auto;
}

#header_nav img {
  width: 10%;
  height: 10%;
}

header form {
  margin-top: 25px;
  margin-bottom: 20px;
}

.container_hebergements {
  flex-direction: column;
}

.sub_container_hebergements_Marseille {
  margin-right: 0px;
}

.container_activite {
  column-gap: 20px;
  row-gap: 75px;
}

.footer_menu {
  width: 80%;
  margin-left: 70px;
}
}

/* Réglages Responsive Tablet 768px */

@media all and (max-width: 768px) {

#header_nav img {
  width: 15%;
  margin-bottom: 10px;
}

.filters_button {
  font-size: 13px;
}

.filters a {
  padding-right: 10px;
}

.filters h1 {
  font-size: 14px;
}

.filters i {
  padding: 10px;
}

.fa-money-bill-wave {
  width: 37px;
}

.fa-child {
  width: 32px;
}

.card_hebergement {
  flex: 35%;
}

.container_activite {
  grid-template-columns: auto auto;
  grid-template-rows: 130px 130px 130px 130px;
  row-gap: 60px;
}

.card_activite_one {
  grid-column: 1;
  grid-row: 1/3;
}

.card_activite_two {
  grid-column: 2;
  grid-row: 1/2;
}

.card_activite_three {
  grid-column: 2;
  grid-row: 2/3;
}

.card_activite_four {
  grid-column: 2;
  grid-row: 3/5;
}

.card_activite_five {
  grid-column: 1;
  grid-row: 3/4;
}

.card_activite_six {
  grid-column: 1;
  grid-row: 4/5;
}
}

/* Réglages Responsive Smartphone 425px */

@media all and (max-width: 426px) {

#bloc_page {
  margin-left: 20px;
  margin-right: 20px;
}

#header_nav {
  flex-direction: column;
  margin-left: 0px;
}

#header_nav img {
  width: 30%;
}

header nav ul {
  flex-wrap: wrap;  
  margin-bottom: 35px;
}

header nav a {
  font-size: 18px;
}

header h1 {
  font-size: 24px;
}

header h2 {
  font-size: 16px;
  margin-bottom: 15px;
}

.button_inscription_flex {
  order: 1;
  flex: 100%;
  text-align: right;
  margin-top: -50px;
  margin-bottom: -20px;
}

.button_hebergement_flex {
  order: 2;
  flex: 40%;
  text-align: center;
}

.button_hebergement_flex a, .button_activites_flex a {
  padding-bottom: 30px;
  border-bottom: 3px solid #e9e8e8;
}

.button_hebergement_flex a:hover, .button_activites_flex a:hover {
  border-top: none;
  border-bottom: 3px solid #0065fc;
}

.button_activites_flex {
  order: 3;
  flex: 40%;
  text-align: center;
}

.fa-map-marker-alt {
  font-size: 16px;
  padding: 16px;
}

.fa-search {
  display: initial;
  background-color: #0065fc;
  color: white;
  padding: 17px;
  border-radius: 10px;
  font-size: 14px;
}

#search_button {
  padding-top: 13.8px;
  padding-bottom: 13.5px;
  padding-left: 14px;
  font-size: 16px;
  padding-right: 10px;
  margin-right: -7px;
}

form a {
  text-decoration: none;
  font-size: 14px;
}

#submit_location {
  display: none;
}

.filters {
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filters a {
  font-size: 16px;
  margin-right: 24px;
}

.filters h1 {
  flex: 100%;
  font-size: 20px;
}

.filters_button {
  margin-left: 0px;
  margin-bottom: 5px;
}

.fa-money-bill-wave {
  width: 40px;
}

.fa-child {
  width: 36px;
}

header p {
  font-size: 16px;
}

.container_hebergements {
  flex-direction: column-reverse;
}

.sub_container_populaires {
  padding: 35px 10px 20px 10px;
  border-radius: 0px;
  flex: 100%;
  margin-left: -20px;
  margin-right: -20px;
}

.sub_container_populaires h1 {
  font-size: 20px;
  margin-bottom: 30px;
  padding-left: 8px;
}

.fa-chart-line {
  right: 25px;
}

.sub_container_hebergements_Marseille {
  background-color: initial;
  margin-right: 0px;
  padding: 0px;
  flex: 100%;
}

.sub_container_hebergements_Marseille h1 {
  padding-left: 0px;
  font-size: 20px;
  margin-bottom: 15px;
}

.card_hebergement {
  flex: 100%;
  margin: 10px 0px;
}

.button_afficher_plus {
  font-size: 18px;
  margin-left: 5px;
}

.activites_marseille h1 {
  font-size: 20px;
  margin-left: -3px;
}

.container_activite {
  grid-template-columns: auto;
  grid-template-rows: 140px 140px 140px 140px 140px 140px;
  margin-bottom: 85px;
}

.card_activite_one {
  grid-column: 1;
  grid-row: 1/2;
}

.card_activite_two {
  grid-column: 1;
  grid-row: 2/3;
}

.card_activite_three {
  grid-column: 1;
  grid-row: 3/4;
}

.card_activite_four {
  grid-column: 1;
  grid-row: 4/5;
}

.card_activite_five {
  grid-column: 1;
  grid-row: 5/6;
}

.card_activite_six {
  grid-column: 1;
  grid-row: 6/7;
}

footer {
  margin-right: -20px;
  margin-left: -20px;
}

.footer_menu {
  margin-left: 30px;
  flex-direction: column;
  row-gap: 40px;
}

.footer_menu h1 {
  font-size: 18px;
}

.footer_menu ul {
  line-height: 2;
}

.footer_menu a {
  font-size: 14px;
  font-weight: 400;
}
}

/* Réglages Responsive Smartphone 320px */

@media all and (max-width: 320px) {
#bloc_page {
  margin-left: 15px;
  margin-right: 10px;
}

header h1 {
  font-size: 20px;
}

header nav a {
  font-size: 15px;
}
.button_activites_flex {
  flex: 10%;
}

.button_hebergement_flex {
  flex: 10%;
}

.button_inscription_flex {
  margin-top: -36px;
}

#search_button {
  padding-left: 6px;
  padding-right: 2px;
  margin-right: -25px;
}

.fa-search {
  font-size: 12px;
}
}